Template_Skill/resources/DbConnection.xml
Template_Skill/resources/dbConnection.xml
Template_Skill/resources/dbconnection.xml
Template_Skill/resources/DbCredentials.xml
Template_Skill/resources/dbCredentials.xml
Template_Skill/resources/dbcredentials.xml

target/